@font-face {
  font-family: sahel;
  src: url("../fonts/Sahel.eot");
  src: url("../fonts/Sahel.ttf") format("ttf"), url("../fonts/Sahel.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: nastaliq;
  src: url("../fonts/IranNastaliq.ttf");
  font-weight: normal;
}

.hamberger-menu .menu, .card-overlay, .card-img {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #262626;
}

.hamberger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
}

.hamberger-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hamberger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  -webkit-transition: all .5s .5s;
  transition: all .5s .5s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 70px;
  color: #d3ab55;
  width: 110px;
  height: 110px;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  margin-right: 20px;
}

@media (max-width: 1140px) {
  .logo {
    font-size: 50px;
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 760px) {
  .logo {
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 540px) {
  .logo {
    font-size: 20px;
    width: 35px;
    height: 35px;
  }
}

.main-name {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: #bbb;
}

@media (max-width: 1140px) {
  .main-name {
    font-size: 30px;
  }
}

@media (max-width: 760px) {
  .main-name {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .main-name {
    font-size: 16px;
  }
}

@media (max-width: 435px) {
  .main-name {
    font-size: 12px;
  }
}

@media (max-width: 370px) {
  .main-name {
    font-size: 8px;
  }
}

.sub-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50xp;
  color: #bbb;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 540px) {
  .sub-name {
    font-size: 10px;
  }
}

@media (max-width: 370px) {
  .sub-name {
    font-size: 6px;
  }
}

.main-heading {
  font-family: "Dancing Script", cursive;
  font-size: 150px;
  font-weight: 300;
  color: #d3ab55;
}

@media (max-width: 1140px) {
  .main-heading {
    font-size: 100px;
  }
}

@media (max-width: 760px) {
  .main-heading {
    font-size: 70px;
  }
}

.sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 50px;
}

@media (max-width: 1140px) {
  .sub-heading {
    font-size: 40px;
  }
}

@media (max-width: 760px) {
  .sub-heading {
    font-size: 25px;
  }
}

@media (max-width: 540px) {
  .sub-heading {
    font-size: 15px;
  }
}

.main-btn {
  width: 170px;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.main-btn:hover {
  background-color: #d3ab55;
  color: #262626;
}

@media (max-width: 540px) {
  .main-btn {
    width: 170px;
    height: 35px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #d3ab55;
    background-color: transparent;
    border: 1px solid #d3ab55;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .main-btn:hover {
    background-color: #d3ab55;
    color: #262626;
  }
}

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;
}

@media (max-width: 700px) {
  .card {
    width: 50%;
    height: 40vw;
  }
}

.card:hover .card-overlay {
  left: 0;
}

.card-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: -100%;
  color: white;
  background-color: rgba(38, 38, 38, 0.4);
  z-index: 10;
  -webkit-transition: left .5s;
  transition: left .5s;
}

.card-overlay-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .card-overlay-heading {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .card-overlay-heading {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .card-overlay-heading {
    font-size: 16px;
  }
}

.card-overlay-paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  color: #d3ab55;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .card-overlay-paragraph {
    font-size: 12px;
  }
}

.card-overlay-btn {
  width: 170px;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin-top: 20px;
}

.card-overlay-btn:hover {
  background-color: #d3ab55;
  color: #262626;
}

@media (max-width: 900px) {
  .card-overlay-btn {
    width: 120px;
    height: 35px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #d3ab55;
    background-color: transparent;
    border: 1px solid #d3ab55;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .card-overlay-btn:hover {
    background-color: #d3ab55;
    color: #262626;
  }
}

@media (max-width: 400px) {
  .card-overlay-btn {
    width: 90px;
    height: 28px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #d3ab55;
    background-color: transparent;
    border: 1px solid #d3ab55;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .card-overlay-btn:hover {
    background-color: #d3ab55;
    color: #262626;
  }
}

.card-img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .5;
}

.left-img {
  width: 200px;
}

.navbar {
  position: relative;
  z-index: 200;
}

.navbar-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background: #262626;
  position: fixed;
  left: -50vw;
  -webkit-transition: left 0.8s cubic-bezier(1, 0, 0, 1);
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}

@media (max-width: 500px) {
  .navbar-navigation-left {
    display: none;
  }
}

.navbar-navigation-left .left-img {
  width: 50%;
  position: absolute;
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: .7;
  border-radius: 10px;
}

.navbar-navigation-left .left-img-1 {
  top: 15%;
  left: 15%;
}

.navbar-navigation-left .left-img-2 {
  top: 35%;
  left: 25%;
}

.navbar-navigation-left .left-img-3 {
  top: 55%;
  left: 35%;
}

.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background: #181818;
  position: fixed;
  right: 0;
  right: -50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

.navbar-navigation .nav-list-item {
  list-style: none;
}

.navbar-navigation .nav-list-link {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #bbb;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 760px) {
  .navbar-navigation .nav-list-link {
    font-size: 30px;
  }
}

@media (max-width: 540px) {
  .navbar-navigation .nav-list-link {
    font-size: 20px;
  }
}

.navbar-navigation .nav-list-link:hover {
  color: #d3ab55;
  letter-spacing: 4px;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamberger-menu .menu {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamberger-menu .menu-line-1 {
  -webkit-transform: rotateZ(-40deg);
          transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamberger-menu .menu-line-3 {
  -webkit-transform: rotateZ(40deg);
          transform: rotateZ(40deg);
}

.checkbox:checked ~ .hamberger-menu .menu-line-2 {
  opacity: 0;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url(../images/bg.jpeg) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center no-repeat;
  background-size: cover;
}

.header .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
  .header .brand {
    left: 30%;
  }
}

.header .header_banner {
  text-align: center;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-us {
  height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1140px) {
  .about-us {
    height: 120vh;
  }
}

@media (max-width: 1000px) {
  .about-us {
    height: 140vh;
  }
}

.about-us-left {
  width: 40%;
}

@media (max-width: 1140px) {
  .about-us-left {
    width: 0;
  }
}

.about-us-left img {
  width: 100%;
  opacity: .7;
  margin-left: 80px;
}

.about-us-right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1140px) {
  .about-us-right {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .about-us-right {
    padding: 0px 30px;
  }
}

@media (max-width: 390px) {
  .about-us-right {
    padding: 0px 20px;
  }
}

.about-us-right .main-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 80px;
}

@media (max-width: 1140px) {
  .about-us-right .main-heading {
    font-size: 50px;
  }
}

@media (max-width: 540px) {
  .about-us-right .main-heading {
    font-size: 40px;
  }
}

.about-us-right .sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
}

@media (max-width: 1140px) {
  .about-us-right .sub-heading {
    font-size: 30px;
  }
}

@media (max-width: 540px) {
  .about-us-right .sub-heading {
    font-size: 20px;
  }
}

.about-us-right .stars {
  margin: 30px 0px;
}

.about-us-right .star {
  font-size: 15px;
  color: #d3ab55;
  margin-left: 10px;
}

.about-us-right .discription {
  font-family: "Josefin Sans", sans-serif;
  font-style: 25px;
  color: #bbb;
  text-align: justify;
}

@media (max-width: 390px) {
  .about-us-right .discription {
    font-size: 12px;
  }
}

.about-us-right .discription::first-letter {
  padding-left: 40px;
}

.gallery .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  padding: 70px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 760px) {
  .footer {
    padding: 50px 0px;
  }
}

@media (max-width: 540px) {
  .footer {
    padding: 40px 0px;
  }
}

@media (max-width: 390px) {
  .footer {
    padding: 40px 10px;
  }
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

@media (max-width: 760px) {
  .footer .social-media {
    margin-bottom: 40px;
  }
}

@media (max-width: 540px) {
  .footer .social-media {
    margin-bottom: 30px;
    width: 200px;
  }
}

.footer .social-media-item {
  list-style: none;
}

.footer .social-media-link {
  text-decoration: none;
  font-size: 50px;
  color: #bbb;
  -webkit-transition: color .7s;
  transition: color .7s;
}

.footer .social-media-link:hover {
  color: #d3ab55;
}

@media (max-width: 760px) {
  .footer .social-media-link {
    font-size: 40px;
  }
}

@media (max-width: 540px) {
  .footer .social-media-link {
    font-size: 30px;
  }
}

.footer-copyright-paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #bbb;
}

@media (max-width: 540px) {
  .footer-copyright-paragraph {
    font-size: 15px;
  }
}

@media (max-width: 390px) {
  .footer-copyright-paragraph {
    font-size: 8px;
  }
}

* {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */